@mixin checkbox-custom-input-style {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border: 2px solid #707070;
  margin-right: 8px;
}

@mixin checkbox-hidden-input-style {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
    &:focus + label {
      //outline: dashed 2px #d3d3d3;
      //outline-offset: 5px;
    }
    &:checked + label:before {
      background-color: #707070;
    }
    &:focus + label {
      //outline: dashed 2px #d3d3d3;
      //outline-offset: 5px;
    }
    &:focus:not(:focus-visible) {
      outline: none;
    }
}

@mixin checkbox-label-style {
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
}

@mixin display-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Checkbox
.sa-input-checkbox {
  position: relative;
    input {
      @include checkbox-hidden-input-style;
    }
    label {
      @include checkbox-label-style;
        &:before {
          @include checkbox-custom-input-style;
        }
    }
}
