@import "mixins.scss";

// Checkbox group
.sa-input-checkboxgrp {
  legend {
    border-bottom: none;
    font-size: 17px;
    margin-bottom: 7px;
    padding-left: 10px;
  }
  .sa-options-group {
    display: inline-block;
    float: left;
    list-style: none;
    padding-left: 10px;
      .sa-option-item {
        position: relative;
          input {
            @include checkbox-hidden-input-style;
          }
          label {
            @include checkbox-label-style;
            &:before {
              @include checkbox-custom-input-style;
            }
          }
      }
  }
}

// Toggle button
button.sa-togglebtn[role='switch'] {
  align-items: stretch;
  background: #d6dbdb;
  border: #cccccc;
  color: #8c8c8c;
  @include display-flexbox;
  flex-direction: row;
  min-width: 80px;
  padding: 0;
  @include box-shadow(0, 0, 3px, #696969, $inset: true);
  &[aria-checked="true"] :first-child,
  &[aria-checked="false"] :last-child{
    background-color: #416BAA;
    color: #fff;
  }
  &[aria-checked] span {
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
  }
}


